@model Playground.Model.Interfaces.IHeaderRepository

<div id="header">
    <div id="header-wrapper">
        <span id="header-title" class="tooltip" tooltip-text="Test Tooltip">Welcome to your Playground!</span>
    </div>
</div>

