@model Playground.Model.Interfaces.IHeaderRepository

<div id="header">
    <div id="header-wrapper">
        <div class="hs-wrapper">
            <div id="hero-image" class="hs-img" hs-img-amt="2"></div>
        </div>
    </div>
</div>

