@model Playground.WebUI.Models.Concrete.MenuViewModel
@using Playground.Model.Interfaces;

<div id="menu">
    <div id="menu-wrapper">
        @foreach (IMenuItem menuItem in Model.MenuItems)
        {
            <div class="menu-item-wrapper">
                <div class="menu-item">
                    @Html.ActionLink(@menuItem.Title, menuItem.Action, menuItem.Controller, null, new { @class = "menu-item-anchor" })
                </div>
                @if (menuItem.SubItems.Count > 0)
                {
                    <div class="menu-subitem-wrapper">
                        @foreach (IMenuItem subMenuItem in menuItem.SubItems)
                        {
                            <div class="menu-subitem">
                                @Html.ActionLink(@subMenuItem.Title, menuItem.Action, menuItem.Controller, null, new { @class = "menu-subitem-anchor" })
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>