@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gallery</h2>

<div class="image-gallery-wrapper">
    <img id="gallery-image-1" class="gallery-image" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <img id="gallery-image-2" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <img id="gallery-image-3" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <img id="gallery-image-4" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <br />
    <img id="gallery-image-5" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <img id="gallery-image-6" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <img id="gallery-image-7" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
    <img id="gallery-image-8" class="gallery-image" gallery-text="Image of the moon" alt="Globe" src="../../Images/Gallery/Globe.jpg" />
</div>
