@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content-wrapper">
    <div id="content-title" class="tooltip" tooltip-text="This is the title of the page!">
        <h1>Index</h1>

        

    </div>
</div>
