<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="PlaygroundEntities" connectionString="metadata=res://*/EntityModels.Playground.csdl|res://*/EntityModels.Playground.ssdl|res://*/EntityModels.Playground.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAVID-PC\SQLEXPRESS;initial catalog=Playground;persist security info=True;user id=PlaygroundApp;password=pass#word1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>